@import url('https://fonts.googleapis.com/css?family=Manrope&display=swap');


body {
    font-family: Manrope, serif;
    /* background: radial-gradient(#ffe4c4 6%, #e6c2ea 100%); */
	background-color:#212529;
}
    

.nav-link {
    color: white;
}

.navbar-nav .nav-link.active {
    color: rgb(102, 101, 101);
}

.imgeshka {
    width: 120px;
}

.navbar-toggler {
    background-color: #302f37;
}

.col-lg-8>p {
    font-size: 32px;
    text-align: center;
    font-weight: 500;
}

.footer-text {
    margin: auto auto;
    color: white;
    padding-top: 10px;
}

footer {
   background: #212529;
}

.card-text {
	color: #8a879a;
}

.card-title {
	color: #78748b;;
}

.slide-text {
    color: #212529;
    margin: auto auto;
}

.card {
	/* box-shadow: 5px 5px 10px 1px #c0b9b9; */
    margin-bottom: 20px;
}

.card {
	background-color: #302f37;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

p {
    font-size: 1.25em;
}

a {
    text-decoration: none;
}

.textik {
    font-size: 1.5em;
     color: #212529;
}

.animation {
	margin-top: 10em;
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.nav-link {
    font-size: 1.15em;
}

.test2 {
    margin-top: 40em;
    width: 75px;
    
}

.test2 {
    animation: also 2s ease 0s infinite normal forwards;
}

@keyframes also {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

.kittens {
    font-size: 2em;
    text-align: center;
}

.w-100 {
	margin-bottom: 7px;
}

img.w-100 {
	/* box-shadow: 5px 5px 10px 1px #c0b9b9; */
}

p {
	color: #81879a;
}

